@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/* 'Spartan', sans-serif;*/

body{
    margin: 0;
    padding: 0;
    color: #531f50;
    font-family: 'Spartan' sans-serif;
    position: fixed;
}
.score-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 10% 20px;
}
.score-details p{
    font-size: 15px;

}
.score-details h1{
    font-size: 45px;
}
.scores-stars{
    max-width: 980px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(3, 50%);
    margin: 70px 0;
}
.scores-stars span{

    margin: 0 10px;
    font-size:  15px;
}
.star1{
    grid-column-start: 1;
    grid-column-end: 11;
}
.star2{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 11;
}
.star3{
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 11;
}
/*---Iniciamos los contenedores de usuario*/
.containers-profiles{
    padding: 40px 10% 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12,10%);

}
.profile1{
    grid-row-start: 1;
    grid-row-end: 9;
}
.profile2{
    grid-row-start: 2;
    grid-row-end: 10;
}
.profile3{
    grid-row-start: 3;
    grid-row-end: 11;
}
.container-profile{
    width: 300px;
    background: #531f50;
    color: white;
    padding: 40px 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 25px;
}
.Date-profile{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.Date-profile img{
    width: 40px;
    border-radius: 50px;
    grid-column: 1;
    

}
.text-profile{
    display: flex;
    flex-direction: column;
}
.text-profile span{
 grid-column: 2;
 grid-row: 1;
}
.text-profile p{
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    color: #c45893;
}
/*Medias queries*/
@media  (max-width:1140px){
    .score-main{
        padding: 40px 5% 20px;
    }
    .containers-profiles{
        padding: 40px 5% 20px;
    }
    .container-profile{
        width: 280px;
    }
}
@media  (max-width:1024px){
    .score-main{
        grid-template-columns: 40% 48%;
        padding: 40px 1% 20px;
    }
    .containers-profiles{
        padding: 40px 1% 20px;
    }
}
@media (max-width:980px){
    .score-main {
        font-size: 1px;
        grid-template-columns: 36% 68%;
        padding: 10px 10% 10px;
    }
    .scores-stars{
        grid-template-rows: repeat(3, 20%);
    }
    .container-profile {
        width: 220px;
        margin-right: 15px;
        font-size: 10px;
    }
    .containers-profiles{
        padding: 10px 1%;
    }
}
@media  (max-width:768px){
   body{
       position: inherit;
   }
    .score-main{
        grid-template-rows: 40% 20%;
        grid-template-columns: 1fr;
        text-align: center;
   }
   .score-details{
       grid-row: 1;
       grid-column: 1;
   }
   .scores-stars{
       grid-row: 2;
       grid-column: 1;
       display: block;
   }
   .score-star-info img{
    margin: 5px;
   }
   .scores-stars span {
    display: block;
    margin: 10px 0 40px;
    font-weight: bold;
   }
   .containers-profiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10% 10px;
   }
   .container-profile{
       border-radius: 5px;
       padding:  20px 10px 20px;
       margin-bottom: 15px;
   }
   .Date-profile{
       gap: 5px;
   }
   .text-profile{
       justify-content: center;
   }
}